/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 300px;
  padding: 0 1rem 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #f1efec;
}

header {
  padding: 2rem 2rem 1.5rem;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}
header h1::first-line {
  font-weight: 400;
  font-size: 2.9rem;
}

.filter-border {
  margin-top: 1rem;
  border: none;
  border-top: 1px solid #b9b9b9;
}
.filter-border.above {
  margin: 0rem 2rem 0.5rem;
}
.filter-border.below {
  margin: 0.5rem 2rem 2rem;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.show-all-button,
.filter-button {
  border: none;
  padding: 1px 5px;
  border-radius: 3px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.show-all-button:active, .show-all-button.active,
.filter-button:active,
.filter-button.active {
  color: #00eeff;
  transition: all 0s;
}

.show-all-button {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.search-bar {
  display: flex;
  margin: 1rem auto 0;
  width: 45px;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  text-indent: 25px;
  background-image: url("../images/search.svg");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
}
.search-bar:focus {
  width: 200px;
  outline: none;
  border: 1px solid black;
  background-position-x: -50px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  max-width: 300px;
  border-radius: 15px;
  padding-bottom: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  text-align: center;
  background-color: white;
}

.cover-img {
  width: 100%;
  height: 444px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  display: flex;
}

.title {
  width: 100%;
  font-size: 200%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.title,
.genres-container,
.description,
.data-container {
  padding: 0 0.8rem;
}

.genres-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.genre {
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 1px 5px;
  text-transform: uppercase;
  font-size: 0.6rem;
  border-radius: 3px;
  font-weight: 600;
}

.Drama {
  background-color: #289289;
}

.Sci-Fi {
  background-color: #6b2381;
}

.Adventure {
  background-color: #744e3d;
}

.Action {
  background-color: #b32d2d;
}

.Thriller {
  background-color: #303030;
}

.Comedy {
  background-color: #ac3292;
}

.Romance {
  background-color: #b88890;
}

.Crime {
  background-color: #5252a8;
}

.Mystery {
  background-color: gray;
}

.Horror {
  background-color: #4d8a30;
}

.description {
  margin: auto 0;
}

.card hr {
  width: 80%;
  margin: 0 auto;
  border: none;
  border-top: 1px solid gainsboro;
}

.data-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8rem;
}

.link {
  background: #f5c518;
  border-radius: 3px;
  padding: 3px 4px;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}

/*
.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 0;
    height: 35px;
}

.searchbar img {
    order: 1;
    height: 100%;
    padding: 10px;

    border-radius: 15px 0 0 15px;
    border: 1px solid lightgray;
    border-right: none;
    background-color: white;
    transition: all .2s;
}

.search {
    order: 2;
    border: 1px solid lightgray;
    border-left: none;
    border-radius: 0 15px 15px 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    transition: all .2s;

    &:focus {
        outline: none;
        border: 1px solid black;
        border-left: none;
    }
}

.search:focus + img {
    border: 1px solid black;
    border-right: none;
}
*/
footer {
  padding: 2rem 2rem 0;
  position: relative;
  text-align: center;
  font-size: 0.9rem;
}
footer p {
  line-height: 2rem;
}
footer hr {
  margin: 1rem 0;
  border: none;
  border-top: 1px solid #b9b9b9;
}
footer .login {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer .login img {
  height: 2rem;
}

/*# sourceMappingURL=style.css.map */
